@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

*{
    font-family: "Smooch Sans", serif;
}

body{
    background-color: #4C243B;
}

h1{
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#board, .boardInfo {
    display: grid;
    max-width: 500px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#start, .boardInfo{
    font-size: 25px;
}

#gameOver {
    display: none;
}

.boardInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start{
    background: linear-gradient(to bottom, #3498db, #2980b9);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
&:hover {
        background: linear-gradient(to bottom, #2980b9, #3498db);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
}

#scoreBoard {
    display: inline-flex;
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.square {
    aspect-ratio: 1;
}

.emptySquare {
    background-color: #ac7b84;
}

.snakeSquare {
    background-color: #54457F;
}

.foodSquare {
    background-color: #B84A62;
}

#gameOver {
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}